{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% include 'components/navbar.html.twig' %}
{% include 'components/heroSection.html.twig' %}

<div class="mx-auto max-w-6xl my-4 px-4">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900 mb-4">Latest products</h2>
</div>

{% include 'components/productSection.html.twig' %}




{% endblock %}
