<div class="bg-white">

  <div class="relative isolate px-6 pt-14 lg:px-8 ">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
      <div class="text-center style="background-image: url(https://www.techlounge.net/wp-content/uploads/2022/09/japanese-manga-4.jpg);"">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Giving books a Second Story</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">Dive into a realm where we've gathered all manga genres under one roof. From action-packed adventures to heartwarming romances, we've got something for every manga enthusiast.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
        {% include 'components/searchbar.html.twig' %}

        </div>
      </div>
    </div>
  </div>
</div>
